<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.79" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="EntityFramework6.Npgsql" version="6.4.3" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Npgsql" version="8.0.9" targetFramework="net48" />
  <package id="QRCoder" version="1.6.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.9" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.10" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.9" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.9" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.9" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.9" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>